@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin button-style {
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  