$primary-color: #3e3f40;
$background-color: #252525;
$text-color: #f5f5f5;
$secondary-text-color: #aaa;
$text-color-3: #989696;
$card-bg: #2a2a2a;
$border-color: #333;
$card-primary-bg: #1c1c1c;
$color-blue1: #007bff;
$color-blue2: #0056b3;
$button-bg1: #ccc;